body{
	background-color: #f5eccb;
	
}
#wrapper
{
width:96%;
max-width:920px;	
margin:auto;
padding:2%;	


font-family: Helvetica;
}
.pixel{height:3px;}
#titleApp{

	color:white;
	font-size: 18px;
	max-width: 960px;
	margin-left:auto;
	margin-right:auto;
}
nav{}

#titleApp{
	width:100%;
	height:100%;
	background-color: #8eb461;
	padding-top:3%;
	padding-bottom:3%;
}


#log-out{
	float:right;
}




.invoegen{
	background-color: #8eb461;
	color:white;
	border:none;
	height:50%;
	width:95%;
	/*width:89%;*/
	font-size:100%;
	/*float:right;
	*/
	height:5%;
	
	padding-top:4%;
	padding-bottom: 4%;
	padding-left:5%;
	
	
}

#registreerIndex{
float:right;
	
	
}
.witruimte{
max-width:100px;height: auto;	
		
	
}

a:link{
text-decoration: none;
color:black;
	
	
}
a:visited{
text-decoration: none;
color:black;
	
	
}


#logoIndex{
max-width:96%;height: auto;

padding-left:10%;
padding-top: 50px;
padding-bottom:60px;

}

#btnLogin{
	background-color: #eb3720;
	border:none;
	padding-top:3%;
	width:95%;
	padding-bottom:3%;
	font-size:100%;
	padding-left:5%;
	color:white;
	
}


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

/*Registratie pagina*/

#LogoRegistratie{padding-left:20%;}


.invoegenReg{
	/*background-color: #8eb461;*/
	/*color:white;*/
	/*border:none;*/
	height:50%;
	width:95%;
	font-size:100%;
	padding-top:4%;
	padding-bottom: 4%;
	padding-left:5%
}
#btnRegistreer
{
	background-color: #eb3720;
	border:none;
	padding-top:3%;
	width:100%;
	padding-bottom:3%;
	font-size:100%;
}

#logoRegistratie{
max-width:96%;height: auto;	

}

.pixel{height:3px;}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
 
   width:100%;
   background:#dddddd;

}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#titleApp{
	width:100%;
	height:100%;
	background-color: #8eb461;
	padding-top:3%;
	padding-bottom:3%;
	font-family: Helvetica; 
}



